set clipboard=unnamed

inoremap jk <esc>
nnoremap ; :
nnoremap ,f :action FindUsages<CR>
nnoremap ,r :action RenameElement<CR>
nnoremap ,t :action OpenFile<CR>
nnoremap ,d :action Debug<CR>
nnoremap ,g :action Run<CR>

nnoremap ," viw<esc>a"<esc>hbi"<esc>lel
nnoremap ,' viw<esc>a'<esc>hbi'<esc>lel

nnoremap ,sv :source ~/.ideavimrc<CR>

inoremap <esc> <esc>
